@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif !important;
    color: #565656;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}